.new-header
  = render "devise/shared/error_messages", resource: resource
.middle
  .middle__login
    .middle__login__top
      %p.middle__login__top__text
        変更しちゃう？(￣▽￣)
    .middle__login__bottom
      .middle__login__bottom__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .middle__login__bottom__form__box
            = f.text_field :name, autofocus: true, autocomplete: "name", class: "middle-show__login__bottom__form__box__name", id: "form", placeholder: "お名前は?",required:"required"
          .middle__login__bottom__form__box
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "middle__login__bottom__form__box__address", id: "form", placeholder: "メールアドレスは？",required:"required"
          .middle__login__bottom__form__box
            = f.password_field :password, autocomplete: "new-password", class: "middle__login__bottom__form__box__password", id: "form", placeholder: "新しいパスワードにしたい場合は入力"
          .middle__login__bottom__form__box
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "middle__login__bottom__form__box__password-second", id: "form", placeholder: "新しいパスワードもう一回！"
          -# .middle__login__bottom__form__box
          -#   = f.password_field :current_password, autocomplete: "current-password", class: "middle__login__bottom__form__box__password-second", id: "form",placeholder: "既存のパスワードを入力"
          .middle__login__bottom__form__box
            あなたのアイコンを選択してね→
            = f.label :icon, class: 'icon' do
              = icon('fas', 'camera fa-2x',class: 'edit_icon')
              = f.file_field :icon, class: 'edit_file',style: "display: none;"
          .actions
            = f.submit "アカウント編集！",class: "middle__login__bottom__form__button__submit"
.new-footer
  = link_to "Back", :back,id: "go-login"