= form_with(model: @group,url: genru_group_path(genru_id: params[:genru_id],id: @group.id),local: true) do |f|
  .group-show
    .group-show__contents
      .group-show__contents__header
        = f.text_field :name,placeholder:"#{@group.name}",class:"group-show__contents__header__name"
        .group-show__contents__header__author
          %p.group_reader
            グループリーダー
          .reader
            = @group.user.name
      .group-show__contents__main
        .group-show__contents__main__top
          .group-show__contents__main__top__left
            %p.group-show__contents__main__top__left__name
              = "ジャンル名　：　#{@group.genru.name}"
            .group-show__contents__main__top__left__rank
              = "オタクランク　:　#{@group.ota_rank}"
          .group-show__contents__main__top__right
            %p.group-show__contents__main__top__right__top
              所属人数
            .group-show__contents__main__top__right__bottom
              ="#{@user_id.count}人"
            .group-show__contents__main__top__right__icon
              =icon("far","user-circle fa-3x")
              .group-show__contents__main__top__right__icon__member
                %ul.group-show__contents__main__top__right__icon__member__list
                  %li.group-show__contents__main__top__right__icon__member__list__li
                    - @members.each do |member|
                      .members
                        = f.fields_for member.user_groups do |u|
                          = u.check_box :ids,{checked: true,multiple: true},checked_value: "#{member.user_groups.ids}",unchecked_value: false
                          = u.label "#{member.name}" 
        .group-show__contents__main__middle
          .group-show__contents__main__middle__tags
            %p.group-show__contents__main__middle__tags__title
              付属タグ
            .group-show__contents__main__middle__tags__box
              %p.group-show__contents__main__middle__tags__box__name
                = "＃#{}"
              %p.group-show__contents__main__middle__tags__box__name
                腐女子
              %p.group-show__contents__main__middle__tags__box__name
                腐女子
          .group-show__contents__main__middle__form
            = f.fields_for @tag do |t|
              = t.text_field :name, placeholder:"#を付けてタグを入力",class:"group-show__contents__main__middle__form__input"
              = t.submit "タグを追加！",class:"group-show__contents__main__middle__form__submit"
        .group-show__contents__main__bottom
          %form.group-show__contents__main__bottom__comment
            %p.group-show__contents__main__bottom__comment__form
              グループリーダーからのコメント
              = f.text_area :comment,placeholder: "#{@group.comment}",class:"group-show__contents__main__bottom__comment__form__input"
              = f.submit "編集！",class:"group-show__contents__main__bottom__comment__form__submit"
      .group-show__contents__footer
        .group-show__contents__footer__left
          = link_to "参加希望","#",class:"group-show__contents__footer__left__join"
          = link_to "脱退する","#",class:"group-show__contents__footer__left__join"
        .group-show__contents__footer__right
          = link_to "解散","#",class:"group-show__contents__footer__right__join"
          =link_to genru_path(id: params[:genru_id]),class:"group-show__contents__footer__right__icon" do
            =icon("fas","times fa-2x")