.group-index
  .group-index__contents
    .group-index__contents__sidebar
      .group-index__contents__sidebar__name
        = current_user.name
      .group-index__contents__sidebar__groupname
        - @groups.each do |g|
          .group-index__contents__sidebar__groupname__box
            =link_to genru_group_path(id: g.group_id),class:"group-index__contents__sidebar__groupname__box__link" do
              .group-index__contents__sidebar__groupname__box__top
                - g.group_id
                = Group.find(g.group_id).name
              .group-index__contents__sidebar__groupname__box__bottom
                -# = grouptalk
          
    .group-index__contents__chat
      .group-index__contents__chat__header
        .group-index__contents__chat__header__details
          = link_to edit_genru_group_path(genru_id: params[:genru_id],id: @group.id),class:"group-index__contents__chat__header__details__name" do
            = @group.name
          .group-index__contents__chat__header__details__member
            .group-index__contents__chat__header__details__member__left
              member:
            %ul.group-index__contents__chat__header__details__member__right
              - @group.users.each do |user|
                %li.group-index__contents__chat__header__details__member__right__name
                  = user.name
              

        .group-index__contents__chat__header__button
          = link_to "マイページ",root_path,class:"group-index__contents__chat__header__button__mypage"
      .group-index__contents__chat__main
        - @message.each do |message|
          .group-index__contents__chat__main__individual
            %p.group-index__contents__chat__main__individual__name
              = message.user.name
            %p.group-index__contents__chat__main__individual__created
              = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .group-index__contents__chat__main__individual__box
              .group-index__contents__chat__main__individual__box__message
                = message.message
              .group-index__contents__chat__main__individual__box__image
                =image_tag message.message_image.url
      .group-index__contents__chat__footer
        = form_with(url: genru_group_messages_path(genru_id: params[:genru_id],group_id: params[:id]),method: :post,local: true) do |f|
          = f.text_area :message,placeholder:"メッセージを入力",class: "group-index__contents__chat__footer__box",id:"group-index__contents__box"
          = f.label :message_image, class: 'gr' do
            = icon('far', 'image fa-2x',class: 'gr_icon')
            = f.file_field :message_image, class: 'gr_file',style: "display: none;"
          .group-index__contents__chat__footer__submit
            .group-index__contents__chat__footer__submit__other
              = f.submit "送信",class:"group-index__contents__chat__footer__submit__button",id:"group-index__contents__submit"