.page-header
  .page-header__user
    %label.page-header__user__image
      =icon "fas","camera fa-3x", class: "page-header__user__image__icon"
      %input{type: "file",id:"page-file"}
    .page-header__user__name
      .page-header__user__name__box
        お名前：
        = current_user.name
  .page-header__list
    .page-header__list__icon
      =icon("fas", "list-ul fa-5x", id: "list__icon")
      .page-header__list__icon__box
        %ul.page-header__list__icon__box__list
          %li.page-header__list__icon__box__list__li
            =link_to "使い方","#",id:"icon__li"
          %li.page-header__list__icon__box__list__li
            =link_to "ログアウト",destroy_user_session_path, method: "delete",id:"icon__li"
          -# %li.page-header__list__icon__box__list__li
          -#   =link_to "登録変更",edit_user_registration,id:"icon__li"

      
.page-main
  .page-main__genru
    %h1.page-main__genru__title
      お選びのジャンルだよ( ´∀｀)
    .page-main__genru__list
      .page-main__genru__list__top
        - current_user.genrus.each do |genru|  
          .page-main__genru__list__top__name
            =link_to "#",id: "genru-name" do
              = genru.name
      .page-main__genru__list__bottom
        = link_to "ジャンルを探す",new_genru_path,id: "genru-bottom"
    
  .page-main__chat
    %h1.page-main__chat__title
      所属チャットグループだよ(*^ω^*)
    .page-main__chat__list
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
      .page-main__chat__list__name
        = link_to "gurupname","#",id: "group-name" 
    
.page-footer