.left
  .left__header
    .left__header__search
      = search_form_for(@search,url: genru_path(id: params[:id]),method: :get, local: true) do |f|
        = f.text_field :name_cont, placeholder:"グループ名を入力",id: "keyword",class: "left__header__search__keyword"
        .left__header__search__rank
          = f.radio_button :ota_rank_eq,"ライト"
          = f.label(:ota_rank,"ライト")
          = f.radio_button :ota_rank_eq,"ミドル"
          = f.label(:ota_rank,"ミドル")
          = f.radio_button :ota_rank_eq,"ハード"
          = f.label(:ota_rank,"ハード")
          = f.radio_button :ota_rank_eq,'',checked: true 
          = f.label(:ota_rank,"指定なし")
        .submit
          = f.submit "検索",class:"left__header__search__button"
  .left__main
    .left__main__chat-group
      %p.left__main__chat-group__title
        このジャンル内のチャットグループだよ♪( ´▽｀)
      .left__main__chat-group__frame
        %ul.left__main__chat-group__frame__list
          - @groups_search.each do |group|
            %li.left__main__chat-group__frame__list__li
              -if group.users.ids.include?(current_user.id)
                -# ↑user_id =>4なら current_user.id=>4 group.user_groups.pluck(:user_id)=>[3,4]
                -# pluckは特定のカラムの配列を使用するメソッド
                .group_name
                  = link_to group.name,genru_group_path(genru_id: params[:id],id: group.id,method: :get),id:"left-group"
                .group_tag
                  - group.tag_list.each do |tag|
                    = "##{tag}"
              - else
                = link_to group.name,edit_genru_group_path(genru_id: params[:id],id: group.id),id:"left-group"
          

  .left__footer
    .left__footer__button
      = link_to "グループ作成しちゃう？",new_genru_group_path(params[:id]),id:"new-group"