.right
  .right__header
      
  .right__main
    - @tweets.each do |tweet|
      .right__main__post
        - if tweet.text.present?
          %p.right__main__post__message
            = safe_join(tweet.text.split("\n"), tag(:br))
        .right__main__post__image
          - if tweet.images.present?
            - tweet.images.each do |image|
              = image_tag image.src.url
        .right__main__post__bottom
          .right__main__post__bottom__other
            .right__main__post__bottom__other__comment
              =link_to genru_tweet_comment_path(genru_id: @genru.id,tweet_id: tweet.id),id:"comment" do
                = icon("far","comment-dots fa-2x")
                = tweet.comments.count
            .right__main__post__bottom__other__like
              = render partial: 'likes/like', locals: { genru: @genru,tweet: tweet}
            
          .right__main__post__bottom__create
            .right__main__post__bottom__name
              = tweet.user.name
            .right__main__post__bottom__created-at
              = tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")

  .right__footer
    .right__footer__new  
      = link_to new_genru_tweet_path(params[:id]),id:"write-button" do
        =icon("fas","pen-square fa-5x")
    .favorite
      = form_with(url: search_genru_path(id: params[:id]),method: :get, local: true) do |f|
        = f.radio_button :like,"1"
        = f.label(:like,"お気に入りのみ表示")
        = f.submit "表示", class:"right__footer__button--display"
        
    .right__footer__button
      = link_to "マイページ",root_path,id:"mypage-button"
    .right__footer__favorite
      = "#{@genru.name}"
      = render partial: "users_genrus/users_genru",locals: { genru: @genru }
